@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    overflow-x: hidden;

}

nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

nav h1{
    font-size: 38px;
    color: #054daf;

}

nav span{
    color:#00bc5c;
}

.button-pr{
    background-color: #00bc5c;
    color: white;
    height: 35px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    align-content: center;
}

nav a{
    color: #989898;
    text-decoration: none;
    position: relative;

}

nav a:hover::after {
    content: ""; 
    position: absolute; 
    bottom: -5px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 10px; 
    height: 10px; 
    background-color: #00bc5c;
    border-radius: 50%; 
}

nav p:hover{
    color: #054daf;
}




.banner img{
    width: 100%;
    height: auto;
    display: block;
}

.text{
    position: absolute;
    top: 15%; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white;
    text-align: center;
    z-index: 10; 
    font-family: 'Montserrat', sans-serif;
}


.text h2{
    font-size: 45px;
}

.text p{
    font-size: 25px;
}

.text a{
    background-color: #00bc5c;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    align-content: center;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}

.caixa-pr{
    display: flex;
    position: absolute;
    top: 70%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 10; 
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 60px;
    gap: 80px;
    width: 900px;
}


.caixa-pr span{
    color:#626262;
}

h3, h4{
    font-family: 'Montserrat', sans-serif;
    color:#626262;
    font-size: 20px;

}

.caixa-pr span{
    color: #054daf;
}


h5 span{
    color: #00bc5c;
}

.caixa-sg{
    background-color: #eeeeee;
    height: 120vh;

}

.caixa-sg1{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding-top: 200px;
    text-align: center;
}

.caixa-sg1 p {
    color: #626262;
    font-size: 30px;
}



h5{
    font-size: 45px;
    color: #054daf;
}

.caixa-sg2 img{
    border-radius: 50%;
}



